<section class="container app-content">
    <ul class="list-group list-group-flush todos-list">
      <li class="list-group-item todos-item"
          *ngFor="let item of todos">
        <header class="todo-header">
          <div class="d-flex">
            <i class="material-icons check-box">
              {{ item.done ? 'check_box' : 'check_box_outline_blank' }}
            </i>
            <h5 [ngClass]="{'isCompleted': item.done}">
              {{ item.title }}
            </h5>
          </div>
    
          <div class="todo-btn-group">
            <button class="btn btn-primary">
              {{ item.isDescription ? 'hide' : 'show' }} deteils
            </button>
    
            <button class="btn btn-danger">
              del
            </button>
          </div>
        </header>
    
        <div class="todo-description"
             *ngIf="item.isDescription">
          {{ item.description }}
        </div>
      </li>
    </ul>
</section>

