<section class="container app-content">
  <app-new-todo (submitNewTodo)="onSubmit($event)">
  </app-new-todo>

  <div>
    <form>
      <div class="form-group">
        <input type="text"
               class="form-control"
               name="search"
               placeholder="Search..."
               [(ngModel)]="search" />
      </div>
    </form>
  </div>

  <app-todos [todosList]="todos | filterBySearch:search"
             (toggleTodo)="isToggleTodo($event)"
             (toggleDescription)="isToggleDescription($event)"
             (deleteTodo)="isDeleteTodo($event)">
  </app-todos>
</section>