<section class="container app-todos">
  <app-new-todo (submitNewTodo)="onSubmit($event)">
  </app-new-todo>

  <div>
    <form>
      <div class="form-group">
        <input type="text"
               class="form-control"
               name="search"
               placeholder="Search..."
               [(ngModel)]="search" />
      </div>
    </form>
  </div>

  <app-todos-list [todosList]="todos | filterBySearch:search"
                  (toggleTodo)="isToggleTodo($event)"
                  (toggleDescription)="isToggleDescription($event)"
                  (deleteTodo)="isDeleteTodo($event)"
                  (editTodo)="isEditTodo($event)">
  </app-todos-list>
</section>

<ng-template #editTodoModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit todo</h4>
  </div>

  <div class="modal-body">
    Modal body
  </div>

  <footer>
    <button type="button"
            class="btn btn-outline-secondary"
            (click)="cancel()">Cancel</button>
    <button type="button"
            class="btn btn-success"
            (click)="save()">Save</button>
  </footer>
</ng-template>